-e git+https://github.com/jwhite007/DataStructures@d6e85a05bc93912fad9877bfa1d120f38e57eb50#egg=data_structures-master
fuzzywuzzy==0.2
lettuce==0.2.19
nose==1.3.0
python-termstyle==0.1.10
rednose==0.4.1
sure==1.2.5
wsgiref==0.1.2
